{% extends 'home/layout.twig' %}
{% set title = '谁的主页 ' %}
{% block title %}{{ title }}{% endblock %}
{% block sidebar %}{% endblock %}
{% block content %}
    <div id="main" class="span11">
        <div class="alert alert-success" style="display:none;">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h3>Your theme has successfully been deleted</h3>
        </div>
        <div id="first-title" class="clearfix">
            <a href="#">
                <img class="avatar-b pull-left" alt="BadJohnny" src="http://themeclue.com/img/profile/badjohnny-6443.png"></a>
            <h1>BadJohnny</h1>
            <div class="profile-meta">
                <ul class="unstyled">
                    <li class="web"><a href="http://www.themevan.com" target="_blank">www.themevan.com</a></li>

                    <li class="twitter-name"><a href="http://twitter.com/ThemeVan" target="_blank">ThemeVan</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <section id="main-section" class="span8">

                <ul class="nav nav-tabbed">
                    <li class="active"><a class="bold" href="#">THEMES <span class="regular">(6)</span></a></li>
                    <li><a class="bold" href="../badjohnny/favourites">FAVOURITES <span class="regular" id="count_fav">(1)</span></a></li>
                </ul>
                <div id="my-themes">
                    <div class="theme-results">
                        <div class="result">
                            <div class="row">
                                <div class="theme-img-s span3 boxshadow">
                                    <a href="../theme/wordpress/badjohnny-a-minimal-wordpress-blog-theme/1000842">
                                        <div class="browser-bar">
                                            <span class="browser-btn fst"></span>
                                            <span class="browser-btn snd"></span>
                                            <span class="browser-btn trd"></span>
                                        </div>
                                        <img src="http://themeclue.com/img/theme/badjohnny-a-minimal-wordpress-blog-theme.jpg" alt="BadJohnny - A Minimal WordPress Blog Theme">
                                    </a>
                                </div><!-- theme-img-s -->
                                <div class="main-info-s span5">
                                    <h2 class="featured"><a href="../theme/wordpress/badjohnny-a-minimal-wordpress-blog-theme/1000842">BadJohnny - A Minimal WordPress Blog Theme</a></h2>
                                    <div class="edit">
                                    </div>
                                    <div class="info r">
                                        A <span class="yellow"><strong>Free WordPress theme</strong></span> suitable for <strong>Blog</strong>. It is responsive and retina. Created on 20 Jul 2015. You can download it for free on <a class="bold" href="http://themevan.com" target="_blank">Themevan.com</a>                    </div><!-- info -->
                                    <div class="info-icons">
                                        <div class="feature-icons">
                                            <ul class="icons-list">
                                                <li class="responsive on" data-toggle="tooltip" data-original-title="It is responsive"></li>
                                                <li class="retina on" data-toggle="tooltip" data-original-title="It is retina-ready"></li>
                                                <li class="design on" data-toggle="tooltip" data-original-title="It has been featured"></li>
                                                <li id="obj" class="fav off"><a id="fav" data-toggle="tooltip" data-original-title="You must be logged in to add it to your favourites">You must be logged in to add it to your favourites</a></li>
                                            </ul>
                                        </div><!-- feature-icons -->
                                        <div class="state bold">
                                            1806 Views <span class="unemph">&amp;</span> <span id="obj_star">0 Favourites</span>
                                        </div><!-- state -->
                                    </div><!-- info-icons -->
                                </div><!-- main-info-s -->
                            </div><!-- row -->
                        </div><!-- result -->
                        <div class="result">
                            <div class="row">
                                <div class="theme-img-s span3 boxshadow">
                                    <a href="../theme/wordpress/wonders-a-medium-style-blog-theme/1000708">
                                        <div class="browser-bar">
                                            <span class="browser-btn fst"></span>
                                            <span class="browser-btn snd"></span>
                                            <span class="browser-btn trd"></span>
                                        </div>
                                        <img src="http://themeclue.com/img/theme/wonders-a-medium-style-blog-theme.jpg" alt="Wonders - A Medium Style Blog Theme">
                                    </a>
                                </div><!-- theme-img-s -->
                                <div class="main-info-s span5">
                                    <h2 class="featured"><a href="../theme/wordpress/wonders-a-medium-style-blog-theme/1000708">Wonders - A Medium Style Blog Theme</a></h2>
                                    <div class="edit">
                                    </div>
                                    <div class="info r">
                                        A <span class="yellow"><strong>Premium WordPress theme</strong></span> suitable for <strong>Blog</strong>. It is responsive and retina. Created on 05 Nov 2014. You can purchase it for $49 on <a class="bold" href="http://themevan.com" target="_blank">Themevan.com</a>                    </div><!-- info -->
                                    <div class="info-icons">
                                        <div class="feature-icons">
                                            <ul class="icons-list">
                                                <li class="responsive on" data-toggle="tooltip" data-original-title="It is responsive"></li>
                                                <li class="retina on" data-toggle="tooltip" data-original-title="It is retina-ready"></li>
                                                <li class="design off" data-toggle="tooltip" data-original-title="It has not been featured"></li>
                                                <li id="obj1" class="fav off"><a id="fav1" data-toggle="tooltip" data-original-title="You must be logged in to add it to your favourites">You must be logged in to add it to your favourites</a></li>
                                            </ul>
                                        </div><!-- feature-icons -->
                                        <div class="state bold">
                                            569 Views <span class="unemph">&amp;</span> <span id="obj_star1">0 Favourites</span>
                                        </div><!-- state -->
                                    </div><!-- info-icons -->
                                </div><!-- main-info-s -->
                            </div><!-- row -->
                        </div><!-- result -->
                        <div class="result">
                            <div class="row">
                                <div class="theme-img-s span3 boxshadow">
                                    <a href="../theme/wordpress/magicbook-a-3d-flip-book-wordpress-theme/1000680">
                                        <div class="browser-bar">
                                            <span class="browser-btn fst"></span>
                                            <span class="browser-btn snd"></span>
                                            <span class="browser-btn trd"></span>
                                        </div>
                                        <img src="http://themeclue.com/img/theme/magicbook-a-3d-flip-book-wordpress-theme.jpg" alt=" MagicBook - A 3D Flip Book WordPress Theme">
                                    </a>
                                </div><!-- theme-img-s -->
                                <div class="main-info-s span5">
                                    <h2 class="featured"><a href="../theme/wordpress/magicbook-a-3d-flip-book-wordpress-theme/1000680"> MagicBook - A 3D Flip Book WordPress Theme</a></h2>
                                    <div class="edit">
                                    </div>
                                    <div class="info r">
                                        A <span class="yellow"><strong>Premium WordPress theme</strong></span> suitable for <strong>Portfolio/Personal</strong>. It is responsive and retina. Created on 16 Sep 2014. You can purchase it for $48 on <a class="bold" href="http://themeforest.net" target="_blank">Themeforest.net</a>                    </div><!-- info -->
                                    <div class="info-icons">
                                        <div class="feature-icons">
                                            <ul class="icons-list">
                                                <li class="responsive on" data-toggle="tooltip" data-original-title="It is responsive"></li>
                                                <li class="retina on" data-toggle="tooltip" data-original-title="It is retina-ready"></li>
                                                <li class="design off" data-toggle="tooltip" data-original-title="It has not been featured"></li>
                                                <li id="obj2" class="fav off"><a id="fav2" data-toggle="tooltip" data-original-title="You must be logged in to add it to your favourites">You must be logged in to add it to your favourites</a></li>
                                            </ul>
                                        </div><!-- feature-icons -->
                                        <div class="state bold">
                                            1467 Views <span class="unemph">&amp;</span> <span id="obj_star2">0 Favourites</span>
                                        </div><!-- state -->
                                    </div><!-- info-icons -->
                                </div><!-- main-info-s -->
                            </div><!-- row -->
                        </div><!-- result -->
                        <div class="result">
                            <div class="row">
                                <div class="theme-img-s span3 boxshadow">
                                    <a href="../theme/wordpress/samsara-creative-multi-purpose-wordpress-theme/1000456">
                                        <div class="browser-bar">
                                            <span class="browser-btn fst"></span>
                                            <span class="browser-btn snd"></span>
                                            <span class="browser-btn trd"></span>
                                        </div>
                                        <img src="http://themeclue.com/img/theme/samsara-creative-multi-purpose-wordpress-theme.jpg" alt="Samsara - Creative Multi-Purpose WordPress Theme">
                                    </a>
                                </div><!-- theme-img-s -->
                                <div class="main-info-s span5">
                                    <h2 class="featured"><a href="../theme/wordpress/samsara-creative-multi-purpose-wordpress-theme/1000456">Samsara - Creative Multi-Purpose WordPress Theme</a></h2>
                                    <div class="edit">
                                    </div>
                                    <div class="info r">
                                        A <span class="yellow"><strong>Premium WordPress theme</strong></span> suitable for <strong>Blog</strong>, <strong>Portfolio/Personal</strong> and <strong>Ecommerce</strong>. It is responsive and retina. Created on 06 Mar 2014. You can purchase it for $55 on <a class="bold" href="http://themeforest.net" target="_blank">Themeforest.net</a>                    </div><!-- info -->
                                    <div class="info-icons">
                                        <div class="feature-icons">
                                            <ul class="icons-list">
                                                <li class="responsive on" data-toggle="tooltip" data-original-title="It is responsive"></li>
                                                <li class="retina on" data-toggle="tooltip" data-original-title="It is retina-ready"></li>
                                                <li class="design on" data-toggle="tooltip" data-original-title="It has been featured"></li>
                                                <li id="obj3" class="fav off"><a id="fav3" data-toggle="tooltip" data-original-title="You must be logged in to add it to your favourites">You must be logged in to add it to your favourites</a></li>
                                            </ul>
                                        </div><!-- feature-icons -->
                                        <div class="state bold">
                                            1665 Views <span class="unemph">&amp;</span> <span id="obj_star3">2 Favourites</span>
                                        </div><!-- state -->
                                    </div><!-- info-icons -->
                                </div><!-- main-info-s -->
                            </div><!-- row -->
                        </div><!-- result -->
                        <div class="result">
                            <div class="row">
                                <div class="theme-img-s span3 boxshadow">
                                    <a href="../theme/wordpress/oldcar-responsive-blog-grid-wordpress-theme/1000470">
                                        <div class="browser-bar">
                                            <span class="browser-btn fst"></span>
                                            <span class="browser-btn snd"></span>
                                            <span class="browser-btn trd"></span>
                                        </div>
                                        <img src="http://themeclue.com/img/theme/oldcar-responsive-blog-grid-wordpress-theme.jpg" alt="OldCar - Responsive Blog &amp; Grid WordPress Theme">
                                    </a>
                                </div><!-- theme-img-s -->
                                <div class="main-info-s span5">
                                    <h2 class="featured"><a href="../theme/wordpress/oldcar-responsive-blog-grid-wordpress-theme/1000470">OldCar - Responsive Blog &amp; Grid WordPress Theme</a></h2>
                                    <div class="edit">
                                    </div>
                                    <div class="info r">
                                        A <span class="yellow"><strong>Premium WordPress theme</strong></span> suitable for <strong>Blog</strong> and <strong>Portfolio/Personal</strong>. It is responsive and retina. Created on 24 Jun 2013. You can purchase it for $40 on <a class="bold" href="http://themeforest.net" target="_blank">Themeforest.net</a>                    </div><!-- info -->
                                    <div class="info-icons">
                                        <div class="feature-icons">
                                            <ul class="icons-list">
                                                <li class="responsive on" data-toggle="tooltip" data-original-title="It is responsive"></li>
                                                <li class="retina on" data-toggle="tooltip" data-original-title="It is retina-ready"></li>
                                                <li class="design off" data-toggle="tooltip" data-original-title="It has not been featured"></li>
                                                <li id="obj4" class="fav off"><a id="fav4" data-toggle="tooltip" data-original-title="You must be logged in to add it to your favourites">You must be logged in to add it to your favourites</a></li>
                                            </ul>
                                        </div><!-- feature-icons -->
                                        <div class="state bold">
                                            629 Views <span class="unemph">&amp;</span> <span id="obj_star4">0 Favourites</span>
                                        </div><!-- state -->
                                    </div><!-- info-icons -->
                                </div><!-- main-info-s -->
                            </div><!-- row -->
                        </div><!-- result -->
                        <div class="result last-result">
                            <div class="row">
                                <div class="theme-img-s span3 boxshadow">
                                    <a href="../theme/wordpress/simplekey-one-page-portfolio-wordpress-theme/1000469">
                                        <div class="browser-bar">
                                            <span class="browser-btn fst"></span>
                                            <span class="browser-btn snd"></span>
                                            <span class="browser-btn trd"></span>
                                        </div>
                                        <img src="http://themeclue.com/img/theme/simplekey-one-page-portfolio-wordpress-theme.jpg" alt="SimpleKey - One Page Portfolio WordPress Theme">
                                    </a>
                                </div><!-- theme-img-s -->
                                <div class="main-info-s span5">
                                    <h2 class="featured"><a href="../theme/wordpress/simplekey-one-page-portfolio-wordpress-theme/1000469">SimpleKey - One Page Portfolio WordPress Theme</a></h2>
                                    <div class="edit">
                                    </div>
                                    <div class="info r">
                                        A <span class="yellow"><strong>Premium WordPress theme</strong></span> suitable for <strong>Portfolio/Personal</strong>. It is responsive and retina. Created on 08 Jan 2013. You can purchase it for $30 on <a class="bold" href="http://themeforest.net" target="_blank">Themeforest.net</a>                    </div><!-- info -->
                                    <div class="info-icons">
                                        <div class="feature-icons">
                                            <ul class="icons-list">
                                                <li class="responsive on" data-toggle="tooltip" data-original-title="It is responsive"></li>
                                                <li class="retina on" data-toggle="tooltip" data-original-title="It is retina-ready"></li>
                                                <li class="design off" data-toggle="tooltip" data-original-title="It has not been featured"></li>
                                                <li id="obj5" class="fav off"><a id="fav5" data-toggle="tooltip" data-original-title="You must be logged in to add it to your favourites">You must be logged in to add it to your favourites</a></li>
                                            </ul>
                                        </div><!-- feature-icons -->
                                        <div class="state bold">
                                            695 Views <span class="unemph">&amp;</span> <span id="obj_star5">0 Favourites</span>
                                        </div><!-- state -->
                                    </div><!-- info-icons -->
                                </div><!-- main-info-s -->
                            </div><!-- row -->
                        </div><!-- result -->

                    </div><!-- theme-results -->


                </div><!-- my-themes -->
            </section>

            <section id="r-sidebar" class="span3">
                <div id="about" class="sidebar-block">
                    <h4 class="sidebar-title">ABOUT BadJohnny</h4>
                    <p>Themeforest Elite Author working on elegant and useful WordPress Theme.</p>            </div><!-- about -->
                <div id="share" class="sidebar-block">
                    <h4 class="sidebar-title">SHARE THIS PROFILE</h4>
                    <ul class="share-icons clearfix">
                        <li><a id="share-button-twitter" class="tw-share" data-toggle="tooltip" data-original-title="Tweet it">Tweet it</a></li>
                        <li><a id="share-button-fb" class="fb-share" data-toggle="tooltip" data-original-title="Share it on Facebook">Share on Facebook</a></li>
                        <li><a id="share-button-pin" class="pin-share" data-toggle="tooltip" data-original-title="Pin it">Pin it</a></li>
                        <li><a id="share-button-google" class="gp-share" data-toggle="tooltip" data-original-title="Share it on Google+">Share it on Google+</a></li>
                    </ul>
                </div><!-- share -->
                <div id="last-visited" class="sidebar-block hrfix">
                    <h4 class="sidebar-title">RECENTLY VIEWED</h4>
                    <div class="theme-thumb odd boxshadow">
                        <a href="../theme/wordpress/wonders-a-medium-style-blog-theme/1000708">
                            <img src="http://themeclue.com/img/theme/wonders-a-medium-style-blog-theme.jpg" alt="Wonders - A Medium Style Blog Theme">
                        </a>
                    </div>
                    <div class="theme-thumb boxshadow">
                        <a href="../theme/wordpress/badjohnny-a-minimal-wordpress-blog-theme/1000842">
                            <img src="http://themeclue.com/img/theme/badjohnny-a-minimal-wordpress-blog-theme.jpg" alt="BadJohnny - A Minimal WordPress Blog Theme">
                        </a>
                    </div>
                </div><!-- latest-visited --><div id="popular" class="sidebar-block hrfix">
                    <h4 class="sidebar-title">POPULAR THEMES</h4>
                    <div class="theme-thumb odd boxshadow">
                        <a href="../theme/wordpress/hueman-free-wordpress-theme/1000429">
                            <img src="http://themeclue.com/img/theme/hueman-free-wordpress-theme.jpg" alt="Hueman - Free WordPress Theme">
                        </a>
                    </div>
                    <div class="theme-thumb boxshadow">
                        <a href="../theme/wordpress/element-multi-purpose-wordpress-theme/1000737">
                            <img src="http://themeclue.com/img/theme/element-multi-purpose-wordpress-theme.jpg" alt="Element - Multi-Purpose Wordpress Theme ">
                        </a>
                    </div>
                    <div class="theme-thumb odd boxshadow">
                        <a href="../theme/wordpress/display-creative-wordpress-theme/1000451">
                            <img src="http://themeclue.com/img/theme/display-creative-wordpress-theme.png" alt="Display - Creative WordPress Theme">
                        </a>
                    </div>
                    <div class="theme-thumb last-child boxshadow">
                        <a href="../theme/wordpress/oriolus-responsive-onepage-wordpress-theme/1000313">
                            <img src="http://themeclue.com/img/theme/oriolus-responsive-onepage-wordpress-theme.jpg" alt="Oriolus - Responsive Onepage WordPress Theme">
                        </a>
                    </div>
                </div><!-- popular -->
            </section><!-- r-sidebar -->
        </div><!-- row -->
        <div class="pagination">
            <ul>
                <li><a href="search?pag=1">PREV</a></li>
                <li><a href="search?pag=1">1</a></li>
                <li class="active"><a href="search?pag=2">2</a></li>
                <li><a href="search?pag=3">3</a></li>
                <li><a href="search?pag=4">4</a></li>
                <li><a href="search?pag=5">5</a></li>
                <li><a href="search?pag=3">NEXT</a></li>
            </ul>
        </div>
    </div>
{% endblock %}